#title{
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0%;
}

#subtitle{
  position: relative;
  width: 100%;
  margin-top: 5px;
}

#start, #about{
  background: lightgray;
  position: absolute;
  left: 40%;
  width: 20%;
  padding-top: 2px;
  padding-bottom: 2px;
}

#start:hover, #about:hover{
  background: orange;
  color: white;
  left: 35%;
  width: 30%;
}

#start{
    top: 65%;
}

#about{
  top: 70%;
}

@media (max-width: 800px){
  #title, #subtitle{
    position: relative;
    left: 35%;
    width: 100%;
  }
  #subtitle{
    left: 38%;
  }

  #start{
    top: 30%;
    left: 0%;
    width: 100%;
    height: 40%;
  }
  #about{
    top: 70%;
    left: 0%;
    width: 100%;
    height: 40%;
  }
}
