/*index.html styling*/
#title{
  position: relative;
  margin-top: 5px;
  margin-bottom: 0%;
  font-size: 50px;
  font-weight: bold;
}

#subtitle{
  position: relative;
  margin-top: 2px;
  font-size: 15px;
}

#start{
  background-color: #0074D9;
  color: #7FDBFF;
  position: absolute;
  width: 20%;
  height: 20%;
  top: 70%;
  left: 40%;
  font-size: 35px;
  border-radius: 10%;
}

#start:hover{
  background: #FF851B;
  color: #DDDDDD;
}

#start{
  top: 65%;
}
#about{
  top: 70%;
}
#directions{
  top: 75%;
}

@media (max-width: 800px){
  #start{
    top: 20%;
    left: 0%;
    width: 100%;
    height: 95%;
    border-radius: 0%;
    font-size: 50px;
  }

}
/*prompt.html styling*/
#prompt{
  width: 80%;
  height: auto;
}

.option{
  position: absolute;
  top: 80%;
  font-size: 40px;
  left: 40%;
}

button{
  position: absolute;
  background-color: #FF851B;
  color: #DDDDDD;
  top: 90%;
  width: 40%;
  left: 30%;
  border-radius: 5%;
}

#timer{
  position: absolute;
  left: 70%;
  top: 30%;
  background: #3D9970;
  color: #DDDDDD;
  padding: 2% 2% 2% 2%;
  border-radius: 5%;
}

@media (max-width: 800px){
  .option{
    left: 30%;
    top: 60%;
  }
  button{
    height: 70%;
    width: 45%;
    left: 27%;
  }
  #timer{
    top: 52%;
    left: 38%;
  }
}

button:hover{
  background: #0074D9;
  color: #7FDBFF;
  border-radius: 10%;
}

/*Styling for timeout.html*/
.message{
  font-size: 20px;
}

