/*index.html styling*/
#title{
  position: relative;
  margin-top: 5px;
  margin-bottom: 0%;
  font-size: 45px;
}

#subtitle{
  position: relative;
  margin-top: 5px;
  font-size: 15px;
}

#start, #about, #directions{
  background: lightgray;
  position: absolute;
  left: 40%;
  width: 20%;
  padding-top: 2px;
  padding-bottom: 2px;
}

#start:hover, #about:hover, #directions:hover{
  background: orange;
  color: white;
}

#start{
  top: 65%;
}
#about{
  top: 70%;
}
#directions{
  top: 75%;
}

@media (max-width: 800px){
  #start{
    top: 20%;
    left: 0%;
    width: 50%;
    height: 100%;
  }
  #directions{
    top: 20%;
    left: 50%;
    width: 50%;
    height: 50%;
  }
  #about{
    top: 70%;
    left: 50%;
    width: 50%;
    height: 50%;
  }
}
/*prompt.html styling*/
#prompt{
  width: 80%;
  height: auto;
}

.option{
  position: absolute;
  top: 80%;
  size: 20%;
}

#result{
  font-size: 50px;
}
